.container {
    background-color: #151516;
    width: 98vw;
    height: 95vh;
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-foto {
    width: 49vw;
    height: 95vh;
    text-align: center;
    align-content: center;
}

.container-texto {
    width: 49vw;
    align-content: center;
    padding-left: 50px;
}

.texto-destacado {
    color: rgb(168, 57, 125);
}

.texto-detalhe {
    font-size: 16px;
    text-align: justify;
}

.foto {
    width: 55%;
}

.container-link {
    margin-top: 40px;
}

.link { 
    padding: 12px;
    background-color: rgb(168, 57, 125);
    color: white;
    text-decoration: none;
    border-radius: 20px;
}


